<div class="container100">
  <br />
  <br />
  <br />
  <div class="contentBelow">
    <div class="imageContainer">
      <img
        src="https://via.placeholder.com/350x700"
        alt="Descripción de la imagen"
      />
    </div>
    <div class="textContainer">
      <h1>ROTULACIONES</h1>
      <p>
        Estamos especializados en rotulación de alta calidad para tu negocio,
        ofreciendo:
      </p>
      <ul>
        <li>
          <strong>Impresión Digital & Corte:</strong> Precisión y calidad.
        </li>
        <li><strong>Gran Formato:</strong> Impacto visual a gran escala.</li>
        <li><strong>Paredes:</strong> Decoración personalizada.</li>
        <li><strong>Cristaleras: </strong>Diseño atractivo para ventanas.</li>
        <li><strong>Flotas Comerciales:</strong> Rotulación vehicular.</li>
        <li>
          <strong>Microperforado:</strong> Soluciones de visibilidad y
          privacidad.
        </li>
      </ul>
      <button>Contacta</button>
    </div>
  </div>
  <div class="galeria-container">
    <div class="principal">
      <img src="https://via.placeholder.com/350x700" alt="">
    </div>
    <div class="secundario">
      <img src="https://via.placeholder.com/350x700" alt="">
      <img src="https://via.placeholder.com/350x700" alt="">
      <img src="https://via.placeholder.com/350x700" alt="">
      <img src="https://via.placeholder.com/350x700" alt="">
      <img src="https://via.placeholder.com/350x700" alt="">
      <img src="https://via.placeholder.com/350x700" alt="">

    </div>
  </div>
</div>