.contentBelow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.textContainer {
  text-align: center;
  flex: 1;
  margin-right: 20rem;
  padding: 20px;
  font-size: 1.2rem;
  color: #ffff;
}

ul li {
  text-align: left;
  list-style: none;
}

strong {
  color: #50b6ba;
}

button {
  background-color: #2c7a76;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  margin-inline: 18rem;
}

button:hover {
  background-color: #153936;
}

.imageContainer {
  margin-top: 2rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  margin-left: 15rem;
  width: 400px;
  height: 250px;
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: 1px 5px 8px #50b6ba;
}

.container100 {
  height: 135%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: "DigitalSans";
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-size: 3rem;
}

.galeria-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.principal,
.secundario {
  width: 50%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  box-sizing: border-box; 
}
.secundario{
  margin-right: 2rem;
  gap: 2rem;
}

.principal img {
  width: 35vw;
  height: 70vh;
  margin-block: 2rem;
}

.secundario img {
  width: 15vw;
  height: 30vh;
  margin-block: 2rem;
}
/* Breakpoint: Dispositivos pequeños (móviles) - hasta 320px */
@media only screen and (max-width: 320px) {
  /* Estilos para móviles pequeños */
}

/* Breakpoint: Móviles en general - hasta 480px */
@media only screen and (max-width: 480px) {
  /* Estilos para móviles en general */
  .container100{
    display: none;
  }
}
/* Breakpoint: Móviles y pequeños tablets - hasta 576px */
@media only screen and (max-width: 576px) {
  /* Estilos para móviles y pequeños tablets */
}

/* Breakpoint: Tablets en orientación vertical - hasta 768px */
@media only screen and (max-width: 768px) {
  /* Estilos para tablets en orientación vertical */
}

/* Breakpoint: Tablets en orientación horizontal o pequeñas pantallas de laptop - hasta 992px */
@media only screen and (max-width: 992px) {
  /* Estilos para tablets en horizontal o pequeñas laptops */
}

/* Breakpoint: Laptops estándar - hasta 1024px */
@media only screen and (max-width: 1024px) {
  /* Estilos para laptops estándar */
}

/* Breakpoint: Laptops más grandes o pantallas de escritorio pequeñas - hasta 1200px */
@media only screen and (max-width: 1200px) {
  /* Estilos para laptops grandes o pantallas de escritorio pequeñas */
}

/* Breakpoint: Pantallas de escritorio medianas - hasta 1400px */
@media only screen and (max-width: 1400px) {
  /* Estilos para pantallas de escritorio medianas */
}

/* Breakpoint: Pantallas de escritorio grandes - hasta 1600px */
@media only screen and (max-width: 1600px) {
  /* Estilos para pantallas de escritorio grandes */
}

/* Breakpoint: Pantallas muy grandes - más de 1600px */
@media only screen and (min-width: 1601px) {
  /* Estilos para pantallas muy grandes */
}