<div class="container100">
  <br />
  <br />
  <br />
  <div class="contentBelow">
    <div class="imageContainer">
      <img
        src="../../assets/img/placerotulaciones.png"
        alt="Descripción de la imagen"
      />
    </div>
    <div class="textContainer">
      <h1>ROTULACIONES</h1>
      <p>
        Estamos especializados en rotulación de alta calidad para tu negocio,
        ofreciendo:
      </p>
      <ul>
        <li>
          <strong>Impresión Digital & Corte:</strong> Precisión y calidad.
        </li>
        <li><strong>Gran Formato:</strong> Impacto visual a gran escala.</li>
        <li><strong>Paredes:</strong> Decoración personalizada.</li>
        <li><strong>Cristaleras: </strong>Diseño atractivo para ventanas.</li>
        <li><strong>Flotas Comerciales:</strong> Rotulación vehicular.</li>
        <li>
          <strong>Microperforado:</strong> Soluciones de visibilidad y
          privacidad.
        </li>
      </ul>
      <button>Contacta</button>
    </div>
  </div>
  <br />
  <div class="carousel">
    <button class="prev">&lt;</button>
    <div class="carousel-track-container">
      <ul class="carousel-track">
        <li class="carousel-slide current-slide">
          <img src="../../assets/img/artpub.jpg" alt="Image 1">
        </li>
        <li class="carousel-slide">
          <img src="../../assets/img/bellezanatural.png" alt="Image 2">
        </li>
        <li class="carousel-slide">
          <img src="../../assets/img/imprenta.png" alt="Image 3">
        </li>
      </ul>
    </div>
    <button class="next">&gt;</button>
  </div>
</div>
