.contentBelow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.textContainer {
  text-align: center;
  flex: 1;
  margin-right: 20rem;
  padding: 20px;
  font-size: 1.2rem;
  color: #ffff;
}
ul li{
  text-align: left;
  list-style: none;
}
strong{
  color: #50b6ba;
}
button {
  background-color: #2c7a76;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  margin-inline: 18rem;
}
button:hover {
  background-color: #153936;
}
.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageContainer img {
  margin-left: 15rem;
  height: 250px;
  max-width: 100%;
  border-radius: 0.5rem;
  box-shadow: 1px 5px 8px #50b6ba;
}

.container100 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-family: "DigitalSans";
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-size: 3rem;
}
.carousel {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
}

.carousel-track-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

button:focus {
  outline: none;
}