<div class="container100">
  <br />
  <br />
  <br />
  <br />
  <div class="contentBelow">
    <div class="textContainer">
      <h1>FACHADAS</h1>
      <br />
      <p>
        Proporcionamos servicios de rotulación de fachadas, contando con:
      </p>
      <ul>
        <li><strong>Forrado en Composite:</strong> Resistencia y estética mejorada.</li>
        <li><strong>Cartelería para Naves:</strong> Carteles personalizados para grandes espacios.</li>
        <li><strong>Letras Corpóreas:</strong> Diseño tridimensional que atrae la atención.</li>
        <li><strong>Dibond:</strong> Carteles ligeros y resistentes con acabado impecable.</li>
        <li><strong>Cajón Luminoso:</strong> Ilumina tu marca día y noche.</li>
      </ul>
      <button class="btn">Contacta</button>
    </div>
    <div class="imageContainer">
      <img src="../../assets/img/fachadamain.jpeg" alt="Descripción de la imagen" />
    </div>
  </div>
  <br />
  <div class="containerMain">
    <div>
      <div class="content">
        <h2>Construcciones Bordalás</h2>
        <p>PUBL<span>ISER</span></p>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Mesón Restaurante Olmedo</h2>
        <p>PUBL<span>ISER</span></p>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Azulejos Vícar</h2>
        <p>PUBL<span>ISER</span></p>
      </div>
    </div>
  </div>
</div>

<div class="movil">
  <h1>FACHADAS</h1>
  <p>Forrado en Composite: <span>Resistencia y estética mejorada.</span></p>
  <p>Cartelería:<span> Carteles personalizados para grandes espacios.</span></p>
  <p>Letras Corpóreas: <span>Diseño tridimensional que atrae la atención.</span></p>
  <p>Dibond: <span>Carteles ligeros y resistentes con acabado impecable.</span></p>
  <div class="button-container">
    <button>Contacta</button>
  </div>
  <img src="../../assets/img/fachada1.jpg" alt="" srcset="">
</div>