<div class="container100">
  <br />
  <br />
  <br />
  <br />
  <div class="contentBelow">
    <div class="textContainer">
      <h1>FACHADAS</h1>
      <br />
      <p>
        Proporcionamos servicios de rotulación de fachadas, contando con:
      </p>
      <ul>
        <li> <strong>Forrado en Composite:</strong> Resistencia y estética mejorada.</li>
        <li>
          <strong>Cartelería para Naves:</strong> Carteles personalizados para grandes espacios.
        </li>
        <li> <strong>Letras Corpóreas:</strong> Diseño tridimensional que atrae la atención.</li>
        <li> <strong>Dibond: </strong>Carteles ligeros y resistentes con acabado impecable.</li>
        <li> <strong>Cajón Luminoso:</strong> Ilumina tu marca día y noche.</li>
      </ul>
      <button>Contacta</button>
    </div> 
    <div class="imageContainer">
      <img
        src="https://fakeimg.pl/400x250"
        alt="Descripción de la imagen"
      />
    </div>
  </div>
  <br />
  <div class="containerMain">
    <div>
      <div class="content">
        <h2>Construcciones Bordalás</h2>
        <p>PUBL<span>ISER</span></p>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Comidas Caseras Viñolo</h2>
        <p>PUBL<span>ISER</span></p>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Centro Gema Ramos</h2>
        <p>PUBL<span>ISER</span></p>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Lavandería Indalo Rosa</h2>
        <p>PUBL<span>ISER</span></p>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Belleza Natural</h2>
        <p>PUBL<span>ISER</span></p>
      </div>
    </div>
  </div>
</div>
