.container100 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.mini-container {
  width: 50%;
  padding: 80px;
}

.mini-container.text {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}

.mini-container iframe {
  width: 100%;
  height: 55vh;
  border: 0;
}

h1 {
  font-family: "DigitalSans";
  color: white;
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: center;
}



.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item fa-icon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: white;
}

a{
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  margin-block: 2rem;
}
a:hover{
  color: rgb(67, 67, 234);
}
/* Breakpoint: Dispositivos pequeños (móviles) - hasta 320px */
@media only screen and (max-width: 320px) {
  /* Estilos para móviles pequeños */
}

/* Breakpoint: Móviles en general - hasta 480px */
@media only screen and (max-width: 480px) {
  /* Estilos para móviles en general */
  .container100{
    display: none;
  }
  h1{
    display: none;
  }
}
/* Breakpoint: Móviles y pequeños tablets - hasta 576px */
@media only screen and (max-width: 576px) {
  /* Estilos para móviles y pequeños tablets */
}

/* Breakpoint: Tablets en orientación vertical - hasta 768px */
@media only screen and (max-width: 768px) {
  /* Estilos para tablets en orientación vertical */
}

/* Breakpoint: Tablets en orientación horizontal o pequeñas pantallas de laptop - hasta 992px */
@media only screen and (max-width: 992px) {
  /* Estilos para tablets en horizontal o pequeñas laptops */
}

/* Breakpoint: Laptops estándar - hasta 1024px */
@media only screen and (max-width: 1024px) {
  /* Estilos para laptops estándar */
}

/* Breakpoint: Laptops más grandes o pantallas de escritorio pequeñas - hasta 1200px */
@media only screen and (max-width: 1200px) {
  /* Estilos para laptops grandes o pantallas de escritorio pequeñas */
}

/* Breakpoint: Pantallas de escritorio medianas - hasta 1400px */
@media only screen and (max-width: 1400px) {
  /* Estilos para pantallas de escritorio medianas */
}

/* Breakpoint: Pantallas de escritorio grandes - hasta 1600px */
@media only screen and (max-width: 1600px) {
  /* Estilos para pantallas de escritorio grandes */
}

/* Breakpoint: Pantallas muy grandes - más de 1600px */
@media only screen and (min-width: 1601px) {
  /* Estilos para pantallas muy grandes */
}