<h1>SERVICIOS</h1>
<div class="container100">
  <div class="row">
    <div class="card">
      <img src="../../assets/img/artpub.jpg" alt="Articulos Publicitarios" />
      <h3>ART. PUBLICITARIOS</h3>
      <button>Ver catálogo</button>
    </div>
    <div class="card">
      <img src="../../assets/img/rotulacion.png" alt="Rotulaciones" />
      <h3>ROTULACIONES</h3>
      <button>Más información</button>
    </div>
    <div class="card">
      <img src="../../assets/img/imprenta.png" alt="Imprenta" />
      <h3>IMPRENTA</h3>
      <button>Más información</button>
    </div>
    <div class="card">
      <img src="../../assets/img/fachadas.png" alt="Fachadas" />
      <h3>FACHADAS</h3>
      <button>Más información</button>
    </div>
    <div class="card">
      <img src="../../assets/img/trofeos.png" alt="Trofeos" />
      <h3>TROFEOS</h3>
      <button>Ver catálogo</button>
    </div>
    <div class="card">
      <img src="../../assets/img/otrosproducts.png" alt="Otros Productos" />
      <h3>OTROS PRODUCTOS</h3>
      <button>Más información</button>
    </div>
  </div>
</div>
