<h1>SERVICIOS</h1>
<div class="container100">
  <div class="row">
    <div class="card">
      <img src="https://fakeimg.pl/330x220
      " alt="Articulos Publicitarios" />
      <h3>ART. PUBLICITARIOS</h3>
      <button (click)="openPDF()">Ver catálogo</button>
    </div>
    <div class="card">
      <img src="https://fakeimg.pl/330x220
      " alt="Rotulaciones" />
      <h3>ROTULACIONES</h3>
      <button>Más información</button>
    </div>
    <div class="card">
      <img src="https://fakeimg.pl/330x220
      " alt="Imprenta" />
      <h3>IMPRENTA</h3>
      <button>Más información</button>
    </div>
    <div class="card">
      <img src="https://fakeimg.pl/330x220
      " alt="Fachadas" />
      <h3>FACHADAS</h3>
      <button>Más información</button>
    </div>
    <div class="card">
      <img src="https://fakeimg.pl/330x220
      " alt="Trofeos" />
      <h3>TROFEOS</h3>
      <button (click)="openPDF()">Ver catálogo</button>
    </div>
    <div class="card">
      <img src="https://fakeimg.pl/330x220
      " alt="Otros Productos" />
      <h3>OTROS PRODUCTOS</h3>
      <button>Más información</button>
    </div>
  </div>
</div>