<div class="container100">
    <!-- <div class="img1">
        <img src="../../assets/img/problema.png" alt="">
    </div> -->
    <div class="text1">
        <p class="titulo">ESPECIALISTAS</p>
        <p class="texto">EN  SERIGRAFÍA & ROTULACIÓN</p>
    </div>
    <div class="text2">
        <p class="titulo2">IMPRESIONES</p>
        <ul>
            <li>SERIGRAFÍA</li>
            <li>IMPRESIÓN DIGITAL & CORTE</li>
            <li>TAMPOGRAFÍA</li>
            <li>SUBLIMACIÓN</li>
            <li>BORDADOS</li>
            <li>VINILO TEXTIL</li>
            <li>GRABACIÓN LÁSER</li>
        </ul>
    </div>
</div> 