<header class="headerCustom">
  <div class="logo-container">
    <img src="../../assets/img/publiserLogo.png"  alt="logo publiser 2005">
    <div class="logo-container">
    <a href="" class="logo">PUBL<span>ISER</span></a>
    </div>
  </div>
  <input type="checkbox" id="check">
  <label for="check" class="icons">
    <i class="bx bx-menu" id="menu-icon"></i>
    <i class="bx bx-x" id="close-icon"></i>

  </label>
  <nav class="navbarCustom">
    <a href="#">INICIO</a>
    <a href="#">SERVICIOS</a>
    <a href="#">CONTACTA</a>
  </nav>
  <nav class="info">
    <a href="#">680 608 344</a>
    <a href="#">603 644 386</a>
    <a href="#">info&#64;publiser2005.com</a>
  </nav>
</header>
